<!DOCTYPE html>
<html lang="en" data-theme="dim">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Repository History</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/slate/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <h1>Git Repository History</h1>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 sticky-top" style="top: 0; height: 100vh; overflow-y: auto;">
                <h2>Repository: {{ repo_path }}</h2>
                <nav id="list-commits" class="nav nav-pills flex-column">
                {% for commit in changes %}
                    <a class="nav-link" href="#item-{{commit.hash}}">{{ commit.date }}</a>
                {% endfor %}
                </nav>           
            </div>
         
            <div class="col">
                <div data-bs-spy="scroll" data-bs-target="#list-commits" data-bs-smooth-scroll="true" tabindex="0">
                    <ul class="list-unstyled">
                        {% for commit in changes %}
                        <li id="item-{{commit.hash}}"></li>
                            <div class="card w-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{ commit.date }}</h5>
                                    <div class="card-text">
                                        <table>
                                            <tr><th scope="row">Message</th><td>{{ commit.message }}</td></tr>
                                            <tr><th scope="row">Author</th><td>{{ commit.author }}</td></tr>
                                            <tr><th scope="row">Hash</th><td>{{ commit.hash }}</td></tr>
                                            <tr><th scope="row" class="align-top">Files added</th>
                                                <td>                                
                                                    <div class="btn-group-vertical btn-group-sm" role="group">
                                                    {% for file in commit.files.added %}
                                                        <button class="btn btn-outline-success" data-bs-toggle="offcanvas" data-bs-target="#{{commit.hash}}-{{file}}" aria-controls="offcanvasRight">{{file}}</button>
                                                    {% endfor %}
                                                    </div>
                                                </td></tr>
                                            <tr><th scope="row" class="align-top">Files deleted</th>
                                                <td>
                                                    <div class="btn-group-vertical btn-group-sm" role="group">
                                                    {% for file in commit.files.deleted %}
                                                        <button class="btn btn-outline-danger" data-bs-toggle="offcanvas" data-bs-target="#{{commit.hash}}-{{file}}" aria-controls="offcanvasRight">{{file}}</button>
                                                    {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr><th scope="row" class="align-top">Files modified</th>
                                                <td>
                                                    <div class="btn-group-vertical btn-group-sm" role="group">
                                                    {% for file in commit.files.modified %}
                                                        <button class="btn btn-outline-warning" data-bs-toggle="offcanvas" data-bs-target="#{{commit.hash}}-{{file}}" aria-controls="offcanvasRight">{{file}}</button>
                                                    {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>          
            </div>          
            <!-- <div class="col-5"> -->
                {% for commit in changes %}
                    {% for file, diff in commit.files.added.items() %}
                        <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="{{commit.hash}}-{{file}}" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <strong class="text-success">{{ file }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="code">
                                    <pre>{{ diff|e }}</pre>
                                </div>
                            </div>
                        </div>
                    {% endfor %} 

                    {% for file, diff in commit.files.modified.items() %}
                        <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="{{commit.hash}}-{{file}}" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <strong class="text-warning">{{ file }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="code">
                                    <pre class="m-0">
{% set difflines = diff.split('\n') -%}
{% for line in difflines -%}
{% if line.startswith("@@") -%}
{% set parts = line.split('@@', 2) -%}
<span class="text-info">{{ parts[0] + '@@' + parts[1] + '@@' }}</span>
{% if parts|length > 2 and parts[2].strip() != '' -%}
<span>{{ parts[2]|e }}</span>
{% endif %}
{% elif line.startswith("+") -%}
<span class="text-success m-0">{{ line|e -}}</span>
{% elif line.startswith("-") -%}
<span class="text-danger m-0">{{ line|e -}}</span>
{% else -%}
<span>{{ line|e -}}</span>
{% endif -%}
{% endfor -%}
                                    </pre>
                                </div>
                            </div>
                          </div>                        
                 
                    {% endfor %}   
                         
                {% endfor %}   
            <!-- </div> -->
        </div>

    </div>
    
    

    
</body>
</html>
